<div class="container">

  <h2><%= @current_user.full_name %></h2>
  <h3><%= @current_user.username %></h3>
  <% if @current_user.profile_image %>
    <img height="200px" src="<%= @current_user.profile_image %>">
  <%end%>

  <h4>My Bio:</h4>

  <% if @current_user.bio %>
    <p> <%= @current_user.bio %></p>
    <form action="/bio_form" method="post">
      <input type="submit" value="update">
    </form>
  <% else %>
    <%= erb :bio_form %>
  <%end%>

  <%= erb :tweet_form %>

  <h4>Tweets:</h4>

  <% if @tweet %>
    <% @tweet.each do |item| %>
      <li> <%= item.tweet %></li>
    <%end%>
  <%end%>

  <form action="/log_out" method="post">
    <input type="submit" value="Log out">
  </form>

</div>
